.navbar{
  background:var(--secondary-color);
  width: 3vw;
  min-width: 3rem;
  height:100vh; 
  box-sizing: border-box;
  margin: 0;
  padding: 0.5rem;
  display: flex;  
  flex-direction: column;

  
}
.logout{
  margin-top: auto;
  cursor: pointer;
  width: 100%;
  height: 2rem;
  border: none;
  background:transparent;
  color:var(--delete);
  font-size: 1.5rem
}
.orders{
  cursor: pointer;
  width: 100%;
  height: 2rem;
  border: none;
  background:transparent;
  color:var(--primary-color);
  font-size: 1.5rem
}

.container{
  display: flex;
  width: 100vw;
  height:100vh; 
}
